
{% extends "default/auth.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block auth-header %}
{% trans "Sign In" %}
  Sign in to Toucan
{% endblock %}
{% block auth-subheader %}
  Please enter your details
{% endblock %}

{% block auth-content %}
    {% get_providers as socialaccount_providers %}

      {% if socialaccount_providers  %}
      <div class="col-md-5 col-lg-5">
        {% include "allauth/account/provider_panel.html" with process="login" %}
      </div>
      {% endif %}

      <div class="{% if socialaccount_providers %}col-md-7 col-lg-7 {% else %} col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 {% endif %}">
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          <span class="password-reset">
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          </span>
          {% bootstrap_form form %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="form-actions">
            <button class="btn btn-info btn-block btn-lg" type="submit">{% trans "Sign In" %}</button>
          </div>
        </form>
        <p style="margin-top: 30px;">
            Not yet a member? <a href="{% url 'account_signup' %}">Request Access</a>
        </p>
      </div>

{% endblock %}
