{% extends "default/auth.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Reset Password" %}{% endblock %}
{% block auth-header %}{% trans "Reset Password" %}{% endblock %}

{% block auth-content %}


      <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <p>{% trans 'Please provide the email address you used during signup.' %}</p>
        <form method="POST" action="{% url 'account_reset_password' %}">
          {% csrf_token %}
          {% bootstrap_form form %}

          <div class="form-actions">
            <button class="btn btn-info pull-right" type="submit">{% trans "Reset Password" %}</button>
          </div>
        </form>
      </div>

{% endblock %}
