{% extends 'user_profile/notification/base.html' %}
{% load i18n bootstrap3 %}

{% block profile-title %}
    {% trans 'Create new notification rule' %}
{% endblock %}

{% block content %}
<div class="form-group">
    <div id="issueMap"></div>
</div>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="form-group">
          <button type="submit" class="btn btn-primary">{% trans 'Save'%}</button>
        </div>
    </form>
{% endblock content %}

{% block before-body-close %}
    {{ block.super }}
{% endblock %}
