{% extends 'issues/base.html' %}
{% load i18n bootstrap3 %}

{% block issue_heading_title %}
  {% trans 'Create new Issue' %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <form method="post" action=".">
            {% csrf_token %}

            {% for f in form.hidden_fields %}{{ f }}{% endfor %}

            {% bootstrap_field form.point %}
            <div id="issueMap" style="height:300px; margin-bottom:2em;"></div>


            {% bootstrap_field form.title show_label=False %}
            {% bootstrap_field form.description show_label=False %}
            {% bootstrap_field form.issue_types %}

            {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% trans 'Create' %}
            </button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}

{% block before-body-close %}
{{ block.super }}
<script type="application/javascript">
(function(){
var position = false;
{% if initial_point %}
  {% with p=initial_point.get_coords %}
  position = {
      lng: {{ p.0 }},
      lat: {{ p.1 }}
  };
  {% endwith %}
{% endif %}

var issueMap = document.getElementById('issueMap'),
    location_field = document.getElementById('id_point');

$(location_field).hide();

function cb(e) {
    location_field.value = 'POINT(' + e.lng + ' ' + e.lat + ')'
};

var props = {
    editable: true,
    position: position,
    onPositionChange: cb
}

render_map(issueMap, props);
})();
</script>
{% endblock %}
