[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "<2"
django-allauth = "*"
django-location-field = "*"
django-braces = "*"
django-extensions = "*"
django-webpack-loader = "*"
django-phonenumber-field = "*"
django-rest-multiple-models = "*"
djangorestframework = "*"
djangorestframework-gis = "*"
django-widget-tweaks = "*"
django-contact-form = "*"
django-anymail = "*"
django-filter = "*"
django-bootstrap3 = "*"
django-model-utils = "*"
django-imagekit = "*"
nexmo = "*"
twitter-text-python = "*"
raven = "*"
python-dotenv = "*"
Pillow = "*"
asgi_redis = "*"
daphne = "<2"
channels = "<2"
"psycopg2" = "*"

[dev-packages]
factory_boy = "*"
django-extensions = "*"
django-debug-toolbar = "*"
ipython = "*"

[requires]
python_version = "3.6"
