Django==1.10.4
channels==0.17.3
django-allauth==0.27.0
django-location-field==1.6.1
django-braces==1.8.1
django-extensions==1.7.4
django-webpack-loader==0.3.0
django-phonenumber-field==1.1.0
django-filter==0.13.0
django-imagekit==3.3
django-bootstrap3==7.1.0
Pillow==3.2.0
psycopg2==2.6.1
nexmo==1.0.3
twitter-text-python==1.1.0
asgi_redis==0.14.1
factory-boy==2.7.0
raven==5.32.0
django-rest-multiple-models==1.8.0
djangorestframework==3.5.3
djangorestframework-gis==0.11
django-model-utils==2.6
django-widget-tweaks==1.4.1
