{% extends 'default/base.html' %}
{% load i18n %}
{% block main %}
<div class="container">

    <h1>
        {% trans 'Profile for user:' %} {{ user.username }}
    </h1>

    <h2>{% trans 'Memberships' %}</h2>

    <table class="table">
        <tbody>
        {% for membership in memberships %}
            <tr>
                <td>{{ membership.org.name }}</td>
                <td>
                    {% if membership.active %}
                        {% trans 'Active' %}
                    {% else %}
                        {% trans 'Inactive' %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>{% trans 'Notification Filters' %}</h2>
    <table>
        <tbody>
        {% for ns in notification_settings%}
        <tr>
            <td>
                {{ forloop.counter }}
            </td>
            <td>
                <a href="{% url 'user_profile:notification_edit' notification_id=ns.pk %}">{{ ns|pprint }}</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


    <h2>{% trans 'Subscriptions' %}</h2>

    <table class="table">
        <tbody>
        {% for subscription in user.subscriptions.all %}
            <tr>
                <td>
                    {{ subscription.issue.title }}
                </td>
                <td>
                    {{ subscription.created }}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td>
                    <span class="text-muted">
                        {% trans 'You have no active subscriptions at this time.' %}
                    </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


</div>

{% endblock main %}
