{% extends 'default/base.html' %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block extra-head %}
{% render_bundle 'b2MapSelector' %}
{% render_bundle 'bootstrap' %}
<style>
.leaflet-container { width: 100%; height: 100%;}
</style>
{% endblock %}


{% block main %}
<div class="toucan-form">
  <div class="form-header-sticky">
    <a href="/" class="pull-right text-cancel">
      {% trans 'Cancel' %}
    </a>
    <h1 class="form-title">{% block issue_heading_title %}Issues{% endblock %}</h1>
  </div>
  {% block content %}{% endblock content %}
</div>
{% endblock %}
