{% extends 'default/base.html' %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block extra-head %}
{% render_bundle 'b2MapSelector' %}
<style>
.leaflet-container { width: 100%; height: 100%;}
</style>
{% endblock %}


{% block main %}
<div class="container-fluid">
    <div class="row toolbar">
        <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
          <h1 class="form-title">{% block issue_heading_title %}Issues{% endblock %}</h1>
          <div class="text-right header-controls">
              {% block issue_heading_controls %}
              {% endblock %}
          </div>
          {% block content %}{% endblock content %}
        </div>
    </div>
</div>
{% endblock %}
