@import './bs-themes/flatly/variables';
@import 'variables';
.navbar-brand {
  padding: 10px $navbar-padding-horizontal;
}
.navbar-brand > img {
  width: auto;
  height: 100%;
}
.navbar-logo {
  width: 120px;
  height: auto;
}
h4, h5, h6 {
  font-weight: bold;
}
.input-short {
  textarea {
    height: $line-height-computed*3.5;
  }
}
.btn {
  padding: $padding-base-vertical $padding-base-horizontal*4;
}
.btn-lg {
  padding: $padding-base-vertical $padding-base-horizontal*4;
}
.btn-sm {
  padding: $padding-base-vertical/2 $padding-base-horizontal*2;
}
.btn-xs {
  font-size: 80%;
  padding: $padding-base-vertical/4 $padding-base-horizontal;
}
@include screen-sm-min {
  .nav.navbar-nav li {
    border-bottom: 3px solid transparent;
    &.nav-issues.active {
      border-color: $c-issues;
    }

  }
}
.nav.navbar-nav li {
  &.nav-orgs {
    &:hover {
      a {
        color: $c-organisations;
      }
    }
    &.active {
      border-color: $c-organisations;
      a {
        color: $c-organisations;
      }
    }
  }
  &.nav-settings {
    &:hover {
      a {
        color: $c-turquoise;
      }
    }
  }
  &.nav-muted {
    a {
      color: $c-darkgrey;
    }
    &:hover {
      a {
        color: $c-text;
      }
    }
  }
}
.navbar-main {
  font-size: 22px;
  line-height: 1;
  li {
    margin-bottom: $padding-base-vertical/2;
  }
  @include screen-sm-min {
    font-size: $font-size-base;
    li {
      margin-bottom: 0;
    }
  }
}
@include screen-sm-max {
  .navbar-secondary {
    border-top: 1px solid $c-lightgrey;
    li:first-child {
      float: left;
    }
    li:last-child {
      float: right;
    }
  }
}
