$c-text: #313131;
$c-lightgrey: #EEECE6;
$c-darkgrey: #9A9996;
$c-beige: #FFF8EA;
$c-darkbeige: #E8D9AC;
$c-yellow: #FAB400;
$c-darkblue: #3268A8;
$c-turquoise: #64AFCA;
$c-green: #2DAA3C;
$c-issues: $c-yellow;
$c-issues-muted: #FAD77D;
$c-organisations: $c-darkblue;
