.comments {
}
.comment {
  padding: $padding;
  background-color: $c-lightgrey;
  border-radius: 4px;
  margin-bottom: $padding;
  margin-left: $padding*2;
}
.comment-header {
  font-size: 14px;
}
.comment-time {
  color: $c-darkgrey;
}
.comment-primary {
  background-color: $c-issues-muted;
  margin-left: 0;
  margin-right: $padding*2;
}
.comment-attachment {
  color: $c-darkgrey;
  font-size: 12px;
  display: inline-block;
  margin-right: 5px;
  &:hover {
    color: $c-yellow;
    text-decoration: none;
  }
}
.comment-footer {
  margin-top: $padding/2;
}

.mentionMenu {
  background-color: white;
  border: 1px solid $c-lightgrey - 30;
  box-shadow: 0 2px 2px rgba(0,0,0,.1);
  border-radius: $border-radius-base;
  overflow: hidden;

  .mentionMenuItem {
    padding: $padding-base-vertical/2 $padding-base-vertical;
    &.active {
      background-color: $c-turquoise;
      color: #fff;
    }
  }
}
