@font-face {
  font-family: 'toucan';
  src:  url('fonts/toucan.eot?unt0q7');
  src:  url('fonts/toucan.eot?unt0q7#iefix') format('embedded-opentype'),
    url('fonts/toucan.ttf?unt0q7') format('truetype'),
    url('fonts/toucan.woff?unt0q7') format('woff'),
    url('fonts/toucan.svg?unt0q7#toucan') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'toucan' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-contact-address:before {
  content: "\e91f";
  color: #3268a8;
}
.icon-contact-email:before {
  content: "\e920";
  color: #3268a8;
}
.icon-contact-phone:before {
  content: "\e921";
  color: #3268a8;
}
.icon-contact-web:before {
  content: "\e922";
  color: #3268a8;
}
.icon-w-camp-management:before {
  content: "\e915";
  color: #fff;
}
.icon-w-core-relief-items:before {
  content: "\e916";
  color: #fff;
}
.icon-w-education:before {
  content: "\e917";
  color: #fff;
}
.icon-w-health:before {
  content: "\e918";
  color: #fff;
}
.icon-w-legal-advice:before {
  content: "\e919";
  color: #fff;
}
.icon-w-logistics:before {
  content: "\e91a";
  color: #fff;
}
.icon-w-nutrition:before {
  content: "\e91b";
  color: #fff;
}
.icon-w-protection:before {
  content: "\e91c";
  color: #fff;
}
.icon-w-sanitation-water-hygiene:before {
  content: "\e91d";
  color: #fff;
}
.icon-w-shelter:before {
  content: "\e91e";
  color: #fff;
}
.icon-check:before {
  content: "\e914";
}
.icon-shelter:before {
  content: "\e913";
  color: #fab400;
}
.icon-send:before {
  content: "\e912";
}
.icon-paperclip:before {
  content: "\e911";
}
.icon-plus:before {
  content: "\e910";
}
.icon-chevron:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-comment:before {
  content: "\e902";
}
.icon-filter:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e904";
}
.icon-notifications:before {
  content: "\e905";
}
.icon-pin:before {
  content: "\e906";
}
.icon-camp-management:before {
  content: "\e907";
  color: #fab400;
}
.icon-core-relief-item:before {
  content: "\e908";
  color: #fab400;
}
.icon-education:before {
  content: "\e909";
  color: #fab400;
}
.icon-health:before {
  content: "\e90a";
  color: #fab400;
}
.icon-legal-advice:before {
  content: "\e90b";
  color: #fab400;
}
.icon-logistics:before {
  content: "\e90c";
  color: #fab400;
}
.icon-nutrition:before {
  content: "\e90d";
  color: #fab400;
}
.icon-protection:before {
  content: "\e90e";
  color: #fab400;
}
.icon-sanitation-water-hygiene:before {
  content: "\e90f";
  color: #fab400;
}
