// some variables for marker/cluster sizing
$cluster-size: 45px;
$marker-size: 30px;

.icon {
  display: inline-block;
  vertical-align: middle;
}
.icon-md {
  font-size: 16px;
}
.icon-baseline {
  vertical-align: baseline;
}
.icon-lg {
  font-size: 20px;
  position: relative;
  top: -2px;
}
.icon-xl {
  font-size: 33px;
}
.text-muted {
  &.icon,
  .icon {
    color: $c-lightgrey !important;
  }
}

.toucan-div-icon-marker {
  height: $marker-size;
  width: $marker-size;
  background-color: $c-issues;
  mask: url("./icons/default.svg") center center no-repeat;
}

.marker-organisation {
  background-color: $c-organisations;
  mask-image: url("./icons/default-org.svg");
}
.marker-camp-management {
  mask-image: url("./icons/camp-management.svg");
}
.marker-core-relief-item {
  mask-image: url("icons/core-relief-items.svg");
}
.marker-education {
  mask-image: url("./icons/education.svg");
}
.marker-health {
  mask-image: url("./icons/health.svg");
}
.marker-legal-advice {
  mask-image: url("./icons/legal-advice.svg");
}
.marker-logistics {
  mask-image: url("./icons/logistics.svg");
}
.marker-nutrition {
  mask-image: url("./icons/nutrition.svg");
}
.marker-protection {
  mask-image: url("./icons/protection.svg");
}
.marker-sanitation-water-hygiene {
  mask-image: url("./icons/sanitation-water-hygiene.svg");
}
.marker-shelter {
  mask-image: url("./icons/shelter.svg");
}

.toucan-div-icon-cluster {
  height: $cluster-size;
  width: $cluster-size;
  line-height: $cluster-size;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  font-weight: bold;
}

.marker-cluster-organisation {
  background-color: $c-organisations;
}

.marker-cluster-issue {
  background-color: $c-issues;
}
