.icon {
  display: inline-block;
  vertical-align: middle;
}
.icon-md {
  font-size: 16px;
}
.icon-baseline {
  vertical-align: baseline;
}
.icon-lg {
  font-size: 20px;
  position: relative;
  top: -2px;
}
.icon-xl {
  font-size: 33px;
}
.text-muted {
  &.icon,
  .icon {
    color: $c-lightgrey !important;
  }
}

.toucan-div-icon-marker {
  background: url(/static/toucan/icons/default.svg) center center no-repeat;
}
.marker-organisation {
  background-image: url(/static/toucan/icons/default-org.svg);
}
.marker-camp-management {
  background-image: url(/static/toucan/icons/camp-management.svg);
}
.marker-core-relief-items {
  background-image: url(/static/toucan/icons/core-relief-items.svg);
}
.marker-education {
  background-image: url(/static/toucan/icons/education.svg);
}
.marker-health {
  background-image: url(/static/toucan/icons/health.svg);
}
.marker-legal-advice {
  background-image: url(/static/toucan/icons/legal-advice.svg);
}
.marker-logistics {
  background-image: url(/static/toucan/icons/logistics.svg);
}
.marker-nutrition {
  background-image: url(/static/toucan/icons/nutrition.svg);
}
.marker-protection {
  background-image: url(/static/toucan/icons/protection.svg);
}
.marker-sanitation-water-hygiene {
  background-image: url(/static/toucan/icons/sanitation-water-hygiene.svg);
}
.marker-shelter {
  background-image: url(/static/toucan/icons/shelter.svg);
}
