.issue {
  @include listItem;
  color: $c-text;
  &:hover {
    color: $c-text;
  }
}
.issue-icon {
  color: $c-issues;
  .icon {
    font-size: 30px;
  }
}
.issue-title {
  font-size: 15px;
  line-height: 1.2;
  font-weight: bold;
  float: left;
  max-width: 85%;
}
.issue-comments {
  float: right;
}
.issue-basics {
  float: left;
  clear: both;
  width: 100%;
}
.issue-details {
  width: 100%;
  clear: both;
  float: left;
  color: $c-darkgrey;
  font-size: 14px;
}
.issue-organisation {
  color: $c-darkblue;
}
.issue-date {
  white-space: nowrap;
}
.issue-resolved {
  color: $c-darkgrey;
  background-color: $c-lightgrey + 10;
  .badge {
    background-color: $c-lightgrey - 30;
    color: $c-lightgrey + 10;
  }
  .icon, .issue-organisation, .icon-comment {
    color: $c-lightgrey - 30 !important;
  }
  &:hover {
    background-color: $c-lightgrey + 5;
  }
}

.comments {
  .icon {
    color: $c-darkbeige;
    padding-right: 3px;
  }
}
/*this container wraps the right hand side of desktop layout*/
.issues-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0 !important;
    flex-grow: 2;
    @include screen-sm-min {
      flex-basis: 320px !important;
      flex-grow: 1;
    }
}

/*issue list page */

.issue-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    min-height: 300px;
}

.issue-list-form, .issue-list-footer {
  display: block;
  flex: none;
}
.issue-list-form {
  font-size: 14px;
}
.issue-sortandfilter {
  padding: $padding;
  a {
    color: $c-text;
    &:hover, &:focus, &:focus:active, &:active {
      text-decoration: none;
      color: $c-yellow;
    }
  }
  .filter-reset {
    color: $c-turquoise;
    margin-left: $padding;
    &:hover {
      color: $c-turquoise;
      text-decoration: underline;
    }
  }
}

.issue-list-body {
  @extend .list-body;
}
.issue-addNew {
  display: block;
  border: 1px solid $c-lightgrey;
  border-left: none;
  border-right: none;
  background-color: $c-beige;
  color: $c-yellow;
  padding: $padding/2 $padding;
  font-weight: bold;
  &:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: $c-yellow;
    color: $c-beige;
    .issue-icon {
      color: $c-beige;
    }
  }
}

.issue-list-mapHandle {
  text-align: center;
  padding-top: $padding/2;
  height: 10px;
}
