.issue-detail {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}
.issue-detail-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}
.issue-detail-content {
  flex: 1 1 auto;
  overflow-y: auto;
}
.issue-detail-header {
  padding-bottom: $padding/4;
  flex: 0 0 auto;
}
.issue-detail-lead {
  margin-bottom: $padding;
}
.issue-detail-status,
.issue-detail-organisation,
.issue-detail-lead {
  padding: $padding;
}
.issue-pickup {
  padding: 0 $padding;
  margin: $padding 0;
  color: $c-darkgrey;
  .icon {
    font-size: 35px;
  }
}
.issue-detail-title {
  font-size: 20px;
  margin: 0;
  font-weight: bold;
  .issue-detail-label {
    color: $c-yellow;
  }
}
.issue-detail-label {
  text-transform: uppercase;
  font-size: 12px;
  color: $c-darkgrey;
}
.issue-detail-organisation {
  a {
    color: $c-organisations;
  }
}

.issueDetailBottom {
  padding-top: 1em;
}
.issue-detail-close {
  margin-right: $padding;
  a {
    color: $c-darkgrey;
    &:hover {
      color: $c-yellow;
      text-decoration: none;
    }
  }
}
.issue-detail-status {
  color: $c-turquoise;
}
.issue-detail-comments {
  padding: 0 $padding;
  margin: $padding 0;
}
.statusChange {
  font-size: 12px;
  color: $c-green;
  &:hover {
    color: $c-green;
  }
}
.issue-detail footer {
  flex: none;
}

.issue-detail-form {
  padding: 0 $padding;
  margin: $padding 0;
  margin-left: 20px;

  textarea {
    width: 100%;
    height: 10rem;
  }
}
