@mixin listItem {
  display: block;
  border-bottom: 1px solid $c-lightgrey;
  margin: 0;
  padding: $padding;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: $c-beige;
  }
}
.list-body {
  flex: 1 1 auto;
  overflow-y: auto;
}
.mapHandle {
  width: 36px;
  border-radius: 5px;
  background-color: $c-lightgrey;
  height: 5px;
  margin: 5px auto 0;
  display: block;
  &:hover {
    text-decoration: none;
  }
  @include screen-sm-min {
    display: none;
  }
}
