html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  height: 100vh;
  display:flex;
  flex-direction: column;
}

nav {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

.hide-overflow {
    overflow: hidden;
}

/* this is the react root */
.app-container {
  flex: 1;
  overflow:hidden;
  display: flex;
}

.app-container > * {
  flex: 1;
  overflow: auto;
}

.map-container {
  padding:1em;
  display: flex;
}

.map-container > div {
  width: 100%;
  flex: 1;
}

.issues-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
}


.issueDetail {
  flex: 1;
  /*display: flex;
  flex-direction: column;*/
}

.issueDetailMain {
  /*flex:1;*/
  overflow-y: auto;
  padding-right: 1em;
}

.commentForm {
  padding-right: 1em;
}

.issueDetailBottom {
  padding-top: 1em;
}

/* currently not used*/
.marker-cluster {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #3498db;
  color: #fff;
  text-align: center;
  font-size: 24px;
}

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
    -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
    -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
    -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
    transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.issues tr:hover {
  cursor: pointer;
}

.issue-list-form {
  display: flex;
  flex-direction: row;
}

.issue-filter {
  flex: 1;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }
}

table.issues .fa {
  padding-right: 0.5em;
}
