@import 'colors';
@import 'bs-themes/flatly/_variables.scss';
@import 'variables';
div.toolbar {
  padding: 0.5em;
}

@media (max-width: 922px) {
  /*save some space on mobile devices*/
  .page-header,
  .page-header h1:first-child,
  div.toolbar,
  h3:first-child {
    margin-top: 0px;
  }
  .page-header {
    margin-bottom: 7px;
  }
}


.form-beige {
  background-color: $c-beige;
  .form-title {
    color: $c-issues;
  }
}
.form-blue {
  background-color: $c-lightblue;
  .text-muted {
    color: $c-darkgrey;
  }
  .settings-title, .form-title {
    color: $c-turquoise;
  }
}

.settings-title {
  padding: 0 $grid-gutter-width/2;
}
.form-title {
  margin: 0;
}
.settings-title, .form-title {
  font-size: 21px;
  margin-bottom: $padding-base-vertical*2;
}
.toucan-form {
  margin: 0 auto;
  max-width: 768px;
  .form-group {
    margin-top: $grid-gutter-width/2;
    padding: 0 $grid-gutter-width/2;
  }
  .form-heading {
    padding: 0 $grid-gutter-width/2;
  }
  .form-group-setting {
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid $c-lightgrey;
    padding: $grid-gutter-width/2;
    @media screen and (max-width: 768px) {
      border-left: 0;
      border-right: 0;
    }
  }
  .form-group-setting + .form-group-setting {
    border-top: 0;
  }
  label {
    margin-bottom: 0;
  }
}
.profile-section {
  h2, & > p {
    padding: 0 $grid-gutter-width/2;
  }
}
.body-beige {
  background-color: $c-beige;
  a, a:hover {
    color: $c-darkblue;
  }
}


.form-heading {
  font-weight: bold;
  margin-top: $padding-base-vertical*2;
  margin-bottom: $padding-base-vertical*2;
}

.profile-section {
  margin: $padding-base-vertical*4 0;
  table {
    margin-bottom: $padding-base-vertical;
  }
}
ul {
  padding-left: 1em;
  margin-left: 0;
}
.notification {
  border: 1px solid $c-lightgrey;
  margin-bottom: $padding-base-vertical;
  padding: $padding-base-vertical $grid-gutter-width/2;
  background-color: #fff;
}
.text-org {
  color: $c-organisations;
  &:hover {
    color: $c-organisations;
  }
}
.text-cancel {
  color: $c-darkgrey;
  &:hover {
    color: $c-darkgrey - 50;
  }
}
.form-header-sticky {
  background-color: $c-beige;
  padding: 15px $grid-gutter-width/2;
  position: sticky;
  top:0;
  z-index: 999;
  * {
    margin-bottom: 0;
  }
  @include screen-sm-max {
    box-shadow: 0 3px 3px rgba(0,0,0, .1);
  }
  @include screen-sm-min {
    border-bottom: 1px solid $c-lightgrey;
  }
}
.form-blue {
  .form-header-sticky {
    background-color: $c-lightblue;
  }
}
form {
  margin: $padding-base-vertical 0;
}

.notification-map {
  margin-bottom: $padding-base-vertical;
}
.notification-delete {
  margin-left: $padding-base-vertical;
  &:hover, &:active {
    color: $brand-danger !important;
  }
}
.password-reset {
  float: right;
}
.password-reset + .alert{
  clear: both;
}
