@import 'colors';
@import 'bs-themes/flatly/_variables.scss';
div.toolbar {
  padding: 0.5em;
}

@media (max-width: 922px) {
  /*save some space on mobile devices*/
  .page-header,
  .page-header h1:first-child,
  div.toolbar,
  h3:first-child {
    margin-top: 0px;
  }
  .page-header {
    margin-bottom: 7px;
  }
}


.form-settings {
  h1 {
    font-size: 21px;
    margin: 0;
    margin-bottom: $padding-base-vertical*2;
  }
}
.form-beige {
  background-color: $c-beige;
}
.form-blue {
  background-color: $c-lightblue;
  .text-muted {
    color: $c-darkgrey;
  }
  .settings-title {
    color: $c-turquoise;
  }
}
.settings-title {
  padding: 0 $grid-gutter-width/2;
}
.settings-form {
  margin: 0 auto;
  max-width: 768px;
  .form-group {
    padding: $grid-gutter-width/2;
    background-color: #fff;
    margin-bottom: 0;
    border: 1px solid $c-lightgrey;
    @media screen and (max-width: 768px) {
      border-left: 0;
      border-right: 0;
    }
  }
  .form-group + .form-group {
    border-top: 0;
  }
  label {
    margin-bottom: 0;
  }
}
.profile-section {
  h2, & > p {
    padding: 0 $grid-gutter-width/2;
  }
}
.body-beige {
  background-color: $c-beige;
  a, a:hover {
    color: $c-darkblue;
  }
}


.form-heading {
  font-weight: bold;
  margin-top: $padding-base-vertical*3;
  margin-bottom: $padding-base-vertical*2;
}

.profile-section {
  margin: $padding-base-vertical*4 0;
  table {
    margin-bottom: $padding-base-vertical;
  }
}
ul {
  padding-left: 1em;
  margin-left: 0;
}
.notification {
  border: 1px solid $c-lightgrey;
  margin-bottom: $padding-base-vertical;
  padding: $padding-base-vertical $grid-gutter-width/2;
  background-color: #fff;
}
.text-org {
  color: $c-organisations;
  &:hover {
    color: $c-organisations;
  }
}
form {
  margin: $padding-base-vertical 0;
}
