{% extends 'default/base.html' %}
{% load i18n %}
{% block main %}
<div class="{% block container-class %}container{% endblock %}">
    <div class="row toolbar">
        <div class="col-md-8 page-header">
            <h1>{% block issue_heading_title %}Issues{% endblock %}</h1>
        </div>
        <div class="col-md-4 text-right">
            {% block issue_heading_controls %}
            {% endblock %}
        </div>
    </div>
    {% block content %}
    {% endblock content %}
</div>

{% endblock %}
