{% extends 'issues/base.html' %}
{% load i18n %}
{% block content %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans 'Title' %}</th>
            <th>{% trans 'User' %}</th>
            <th>{% trans 'Organisation' %}</th>
            <th>{% trans 'Status' %}</th>
            <th>{% trans 'Comments' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for issue in issue_list %}
        <tr>
            <td>
                <a href="{% url 'issues:issue_detail' issue_id=issue.pk %}">
                    {{ issue.title }}
                </a>
            </td>
            <td>
                {{ issue.created_by.username }}
            </td>
            <td>
                {{ issue.organisation.name }}
            </td>
            <td>
                {{ issue.status }}
            </td>
            <td>
                {{ issue.comment_count }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
