{% extends 'default/base.html' %}
{% block body-classes %}form-blue{% endblock %}
{% load i18n %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-md-offset-2">
            <h1>{% block organisation_page_title %}{% trans 'Organisations' %}{% endblock %}</h1>
            {% block organisation_details %}{% endblock %}
            {% block organisation_page_controls %}{% endblock %}
            {% block organisation_main %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
