{% extends 'organisations/base.html' %}
{% load i18n imagekit %}

{% block organisation_page_title %}
    {{ organisation.name }}
{% endblock %}

{% block organisation_details %}

{{ organisation.description|linebreaks}}

<dl>
    {% if organisation.homepage %}
    <dt>{% trans 'Homepage' %}</dt>
    <dd>{{ organisation.homepage|urlize }}</dd>
    {% endif %}
</dl>


{% endblock %}

{% block organisation_page_controls %}

    {% if organisation.logo %}
        <p>
        {% thumbnail '250x250' organisation.logo crop=0 %}
        </p>
    {% endif %}

    {% if can_edit_details %}
    <br />
    <p class="text-right">
        <a href="{% url 'organisations:organisation_edit' %}"
            class="btn btn-primary">
            {% trans 'Edit organisation details' %}
            <i class="fa fa-edit"></i>
        </a>
    </p>
    {% endif %}

{% endblock %}


{% block organisation_main %}


{% with memberships=organisation.active_memberships %}
<hr />

<div class="row">
    <div class="col-sm-12">
        <h2>{% trans 'Members' %} ({{ memberships|length }})</h2>
        <hr />
        <table class="table table-striped">
            <tbody>
            {% for membership in memberships %}
            {% with u=membership.user %}
                <tr>
                    <td>
{#                        <a href="#">Image?</a>#}
                    </td>
                    <td>
                        <a href="{% url 'user_profile:public_profile' username=u.username %}">
                            {{ u.username }}
                            {% if u == user %}&nbsp;<i class="fa fa-user"></i>{% endif %}
                        </a>
                    </td>
                    <td>
                        <span class="label label-default">
                        {{ membership.get_role_display|capfirst }}
                        </span>
                    </td>
                </tr>
            {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>



<div class="row">

    {% if is_member %}
        {% if can_invite %}
        <p class="text-right">
            <a class="btn btn-primary" href="{% url 'invite_to_org' organisation_id=organisation.pk %}">
                {% trans 'Invite new members' %} <i class="fa fa-envelope"></i>
            </a>
        </p>
        {% endif %}
    {% else %}
{# Applications are currently disabled #}
{#        <a href="{% url 'organisations:organisation_apply' org_id=organisation.pk %}" class="btn btn-success">#}
{#            {% trans 'Become a member by applying' %}#}
{#        </a>#}
    {% endif %}
</div>

{% endwith %}
{% endblock %}
