{% extends 'user_profile/public.html' %}

{% load i18n %}

{% block profile-title %}
    {% trans 'Your profile page' %}
{% endblock %}


{% block content %}

<div class="profile-section">
  <h2>{% trans 'Personal information' %}</h2>
  <div class="form-group form-group-setting">
    <div class="row">
      <div class="col-sm-4">
        <label>
          {% trans 'Email' %}
        </label>
      </div>
      <div class="col-sm-4">
        {{ user.email }}
      </div>
      <div class="col-sm-4">
        <a class="" href="{% url 'account_email' %}">
          Manage your email address
        </a>
      </div>
    </div>
  </div>
  <div class="form-group form-group-setting">
    <div class="row">
      <div class="col-sm-4">
        <label>
          {% trans 'Telephone' %}
        </label>
      </div>
      <div class="col-sm-4">
        {{ profile.phone_number|default:'-' }}
      </div>
      <div class="col-sm-4">
        <a class="" href="{% url 'user_profile:update_phone' %}">
          Change phone number
        </a>
      </div>
    </div>
  </div>
</div>

    <div class="profile-section">
      {{ block.super }}
    </div>

    <div class="profile-section">
      <h2>{% trans 'Mentioning settings' %}</h2>
      <div class="form-group form-group-setting">
        <div class="row">
          <div class="col-sm-8">
            {% trans 'Notification when mentioned' %}
            <p class="text-muted">
              somebody mentions you by typing @{{ user.username }}
            </p>
          </div>
          <div class="col-sm-4">
            {{ profile.get_user_mention_notification_display }}
          </div>
        </div>
      </div>
      <div class="form-group form-group-setting">
        <div class="row">
          <div class="col-sm-8">
            {% trans 'Notification when your organisation is mentioned' %}
            <p class="text-muted">
              somebody mentions your organisation by typing @{{ user.membership.org.short_name }}
            </p>
          </div>
          <div class="col-sm-4">
            {{ profile.get_org_mention_notification_display }}
          </div>
        </div>
      </div>
      <div class="form-group">
          <a class='btn btn-primary btn-sm' href="{% url 'user_profile:update_profile' %}">
              {% trans 'Change mentioning settings' %}
          </a>
      </div>

    </div>
    <div class="profile-section">
      <h2>Geographic notifications</h2>

      <p class="text-muted">
          You can configure Toucan to notify you of new issues within a defined geographic radius.
      </p>
      <p>
        <a class="btn btn-primary btn-sm" href="{% url 'user_profile:notification_create' %}">
          {% trans '+ Add notification rule' %}
        </a>
      </p>

      {% if notification_settings|length %}
        {% for ns in notification_settings%}
        <div class="notification">
          <div class="row">
            <div class="col-sm-3">
              <img class="notification-map" src="{{ ns.get_preview_image_url }}" alt="map" width="138" height="138"/>
            </div>
            <div class="col-sm-9">
              <p>
                {{ ns.created|date:'SHORT_DATETIME_FORMAT' }}
              </p>
              <p>
                <strong>
                  {% trans 'Issue types' %}
                </strong>
                {% for it in ns.issue_types.all %}
                <span class="badge badge-issue">{{ it.name }}</span>
                {% empty %}
                <span>{% trans 'all' %}</span>
                {% endfor %}
              </p>
              <p>
                <strong>
                  {% trans 'Organisations' %}
                </strong>
                {% for org in ns.organisations.all %}
                <span class="badge badge-member">{{ org.name }}</span>
                {% empty %}
                <span>{% trans 'all' %}</span>
                {% endfor %}

              </p>
              <p class="notification-controls">
                <a href="{% url 'user_profile:notification_edit' notification_id=ns.pk %}">
                  {% trans 'Edit' %}
                </a>
                <a class="text-danger notification-delete" href="{% url 'user_profile:notification_delete' notification_id=ns.pk %}">
                  {% trans 'Delete' %}
                </a>
              </p>
            </div>
          </div>
        </div>
          
          {% endfor %}
      {% else %}
      <div class="form-group">
      <p class="alert alert-info">
          {% blocktrans %}
              You have no notifications configured.
              Add your first notification rule to be notified when something happens around you.
          {% endblocktrans %}
      </p>
      </div>
      {% endif %}

      <div style="margin-bottom: 3em">
      </div>
    </div>

    {%  comment %}
    <h2>{% trans 'Subscriptions' %}</h2>
    <hr />
    {% with subscriptions=user.subscriptions.all %}
    {% if subscriptions|length %}
    <table class="table">
        <tbody>
        {% for subscription in  subscriptions %}
            <tr>
                <td>
                    {{ subscription.issue.title }}
                </td>
                <td>
                    {{ subscription.created }}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td>
                    <span class="text-muted">
                        {% trans 'You have no active subscriptions at this time.' %}
                    </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p class="text-muted">
        {% blocktrans %}
            No active subscriptions. Subscriptions are always related to specific issues and are created interacting (commenting etc) with them.
        {% endblocktrans %}
        </p>
    {% endif %}
    {% endwith %}
    {% endcomment %}

{% endblock %}
