{% extends 'user_profile/base.html' %}
{% load i18n bootstrap3 %}

{% block content %}
   <h2>{% trans 'Membership' %}</h2>
    {% if memberships|length %}
    <table class="table table-striped">
        {% if memberships|length > 1 %}
        <thead>
            <tr>
                <th>{% trans 'Organisation' %}</th>
                <th>{% trans 'Membership status' %}</th>
            </tr>
        </thead>
        {% endif %}
        <tbody>
        {% for membership in memberships %}
            <tr>
                <td>
                    <a href="{% url 'organisations:organisation_detail' org_id=membership.org.pk %}">
                        {{ membership.org.name }}
                    </a>
                </td>
                <td>
                    {% if membership.active %}
                        <span class="label label-success">
                            {% trans 'Active' %}
                        </span>
                    {% else %}
                        <span class="label label-default">
                            {% trans 'Inactive' %}
                        </span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p class="text-muted">
        {% trans 'Not a member of an organisation.' %}
        </p>
    {% endif %}
{% endblock %}
