{% extends 'user_profile/base.html' %}
{% load i18n bootstrap3 %}

{% block content %}
   <h2>{% trans 'Membership' %}</h2>
    {% if memberships|length %}
    <table class="table table-striped">
        {% if memberships|length > 1 %}
        <div class="row row-padded">
          <div class="col-sm-6">
            {% trans 'Organisation' %}
          </div>
          <div class="col-sm-6">
            {% trans 'Membership status' %}
          </div>
        </div>
        <div class="row row-padded">
        </div>
        {% endif %}
        {% for membership in memberships %}
        <div class="row row-padded">
          <div class="col-sm-6">
            <a class="text-org" href="{% url 'organisations:organisation_detail' org_id=membership.org.pk %}">
              {{ membership.org.name }}
            </a>
          </div>
          <div class="col-sm-6">
            {% if membership.active %}
            <span class="label label-success">
              {% trans 'Active' %}
            </span>
            {% else %}
            <span class="label label-default">
              {% trans 'Inactive' %}
            </span>
            {% endif %}
          </div>
        </div>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p class="text-muted">
        {% trans 'Not a member of an organisation.' %}
        </p>
    {% endif %}
{% endblock %}
