<!DOCTYPE html>
{% load i18n bootstrap3 %}
{% load render_bundle from webpack_loader %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'default/favicons.html' %}
    <title>{% block head_title %}{% trans 'Toucan' %}{% endblock %}</title>
    {% render_bundle 'vendor' %}
    {% block extra-head %}{% endblock %}
</head>

<body class="{% block body-classes %}{% endblock %}">
    {% block body %}
        {% block navbar %}
            {% include 'default/navbar.html' %}
        {% endblock navbar %}
        {% if messages %}
        <div class="container">
            {% bootstrap_messages %}
        </div>
        {% endif %}
        {% block main %}{% endblock %}
    {% endblock body %}
    {% block before-body-close %}{% endblock %}
</body>
</html>
