{% extends 'default/auth.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block auth-header %}{% endblock %}

{% block auth-content %}

<p>
{% blocktrans %}
Toucan is an online emergency relief platform.
It enables communication among humanitarian actors in emergency situations.
Toucan facilitates sharing information and coordinating resources,
whether supplying food or urgent medical assistance.
Organisations become more aware of who provides what services where.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
Toucan is currently in active development by <a href="http://www.beetwo.at">BeeTwo</a>.
{% endblocktrans %}
</p>

<hr />

<p class="text-center">
{% if request.user.is_authenticated %}
    <a class="btn btn-primary" href="{% url 'home' %}">
        {% trans 'Go to issue tracker' %}
    </a>
{% else %}
    <a class='btn btn-primary' href="{% url 'account_login' %}">
        Login
    </a>
{% endif %}
</p>

<p class="text-center" style="padding-top: 2em; text-decoration: underline">
    <a href="{% static 'factsheet.pdf' %}">Download Toucan Factsheet</a>
</p>

{% endblock auth-content %}
{% block before-body-close %}
    {% include 'default/github_ribbon.html' %}
{% endblock %}

{% block public-links %}{% endblock %}
