{% extends 'default/auth.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block auth-header %}{% endblock %}

{% block auth-content %}

<p>
{% blocktrans %}
Toucan is an online emergency relief platform.
It enables communication among humanitarian actors in emergency situations.
Toucan facilitates sharing information and coordinating resources,
whether supplying food or urgent medical assistance.
Organisations become more aware of who provides what services where.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
Toucan is currently in active development by <a href="http://www.beetwo.at">BeeTwo</a>.
{% endblocktrans %}
</p>

<hr />

{% if request.user.is_authenticated %}
<p class="text-center">
    <a class="btn btn-primary" href="{% url 'home' %}">
        {% trans 'Go to issue tracker' %}
    </a>
</p>
{% else %}
<div class="well">
    <p>
    This deployment of Toucan is currently invitation only.
    If you want to be a part of it, please fill out a short form and
    we will get in touch with you as soon as possible.
    </p>
    <hr />
    <p>
        <a href="{% url 'request_invitation_form' %}" class="btn btn-primary" >Request Access</a>
        <a class='btn btn-primary pull-right' href="{% url 'account_login' %}">
            Go to Login
        </a>
    </p>
</div>
{% endif %}

<p class="text-center" style="padding-top: 2em; text-decoration: underline">
    <a href="{% static 'factsheet.pdf' %}">Download Toucan Factsheet</a>
</p>

{% endblock auth-content %}
{% block before-body-close %}
    {% include 'default/github_ribbon.html' %}
{% endblock %}

{% block public-links %}{% endblock %}
