{% extends 'default/auth.html' %}
{% load i18n %}

{% block auth-header %}
    Welcome to Toucan
{% endblock %}

{% block auth-content %}
<p>
Toucan is an online emergency relief platform.
It enables communication among humanitarian actors in emergency situations.
Toucan facilitates sharing information and coordinating resources,
whether supplying food or urgent medical assistance.
Organisations become more aware of who provides what services where.
</p>

<p>
Toucan was developed by <a href="http://www.beetwo.at">BeeTwo</a>.
</p>


{% endblock auth-content %}

