{% load i18n %}
<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">B2Eden</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            {# navbar left #}
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{% url 'issues:issue_list' %}">
                        {% trans 'Issues' %}
                    </a>
                </li>
                <li {% if 'organisations' in request.resolver_match.namespaces %}class="active"{% endif %}>
                    <a href="{% url 'organisations:organisation_list' %}">
                        {% trans 'Organisations' %}
                    </a>
                </li>
                <li>
                    <a href="#contact">
                        {% trans 'Contact' %}
                    </a>
                </li>
            </ul>

            {# navbar right #}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    {% if user.is_authenticated %}
                        {{ user.username }}
                        <sub>
                            <a href="{% url 'account_logout' %}">Logout</a>
                        </sub>
                    {% else %}
                        <a href="{% url 'account_login' %}">{% trans 'Login' %}</a>
                    {% endif %}
                </li>
            </ul>

        </div><!--/.nav-collapse -->


    </div>
</nav>