{% extends "default/auth.html" %}

{% load i18n %}

{% block auth-header %}
    {% trans "Sign Out" %}
{% endblock %}

{% block auth-content %}

    <p class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <div class="form-actions text-center">
            <button class="btn btn-primary" type="submit">{% trans "Sign Out" %}</button>
        </div>
    </form>

{% endblock %}
