{% load i18n bootstrap3 %}
{% if user.is_authenticated %}
<form method="post" action="{% url 'issues:comment_create' issue_id=issue.pk %}">
    {% csrf_token %}

    {% bootstrap_field form.comment %}

    <div class="row">
        <div class="col-md-6">
            {% if issue %}
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="toggle_status">
                    {% if issue.status == 'open' %}
                        {% trans 'Close issue' %}
                    {% elif issue.status == 'closed' %}
                        {% trans 'Re-open issue' %}
                    {% endif %}
                </label>
            </div>
            {% endif %}
        </div>
        <div class="col-md-6 text-right">
            <button type="submit" class="btn btn-primary">
                {% trans 'Comment' %}
            </button>
        </div>
    </div>
</form>

{% else %}
    <p>
        {% trans 'Please login to comment.' %}
        <a href='{% url 'account_login' %}?next={{ request.path|urlencode}}' class="btn btn-default">
            {% trans 'Login here' %}
        </a>
    </p>
{% endif %}
