{% extends 'organisations/base.html' %}
{% load i18n bootstrap3 %}

{% block organisation_page_title %}
    {% trans 'Become a member' %}
{% endblock %}

{% block organisation_main %}
<hr />

<div class="row">
    <div class="col-sm-12">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <p>
                {% blocktrans with name=organisation.name %}
                    Are you sure that you want to become a member of <em>{{ name }}</em>?
                {% endblocktrans %}
            </p>
            {% if user.membership %}
                {% include 'organisations/apply_warning.html' %}
            {% endif %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% trans 'Yes!' %}
            </button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}
