{% extends 'organisations/base.html' %}
{% load i18n bootstrap3 %}

{% block organisation_page_title %}
    {% trans 'Create a new organisation' %}
{% endblock %}

{% block organisation_main %}
<hr />

<div class="row">
    <div class="col-sm-12">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <p>
                {% trans 'Are you sure that you want to apply for memebrship?' %}
            </p>
            {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% trans 'Yes!' %}
            </button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}