{% extends 'organisations/base.html' %}
{% load i18n imagekit %}

{% block organisation_page_title %}
    {% trans 'Organisations' %}
{% endblock %}

{% block organisation_page_controls %}
<div class="btn-group btn-group text-right">
    <a href="{% url 'organisations:organisation_create' %}" class="btn btn-success">
        <i class="glyphicon glyphicon-plus-sign"></i>
        Add new Organisation
    </a>
</div>
{% endblock %}

{% block organisation_main %}
<hr />

<table class="table table-striped">
<tbody>
{% for org in organisation_list %}
{% url 'organisations:organisation_detail' org_id=org.pk as org_detail_url %}
    <tr>
        <td>
            {% if org.logo %}
                {% thumbnail '100x100' org.logo %}
            {% else %}
                <i class="fa fa-users fa-5x disabled"></i>
            {% endif %}
        </td>
        <td>
            <h4 class="media-heading">
                <a href="{{ org_detail_url }}">
                {{ org.name }}
                {% if org.short_name %}
                    (@{{ org.short_name }})
                {% endif %}
                </a>

            </h4>



            <p>
                {% trans 'Members' %}: {{ org.active_memberships.count }}
            </p>

            <a class='btn btn-default btn-sm' href="{{ org_detail_url }}">
                {% trans 'Details' %}
            </a>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}