{% extends 'organisations/base.html' %}
{% load i18n imagekit %}

{% block organisation_page_title %}
    {% trans 'Organisations' %}
{% endblock %}

{% block organisation_page_controls %}
{#<div class="btn-group btn-group text-right">#}
{#    <a href="{% url 'organisations:organisation_create' %}" class="btn btn-success">#}
{#        <i class="glyphicon glyphicon-plus-sign"></i>#}
{#        Add new Organisation#}
{#    </a>#}
{#</div>#}
{% endblock %}

{% block organisation_main %}

<h2>
    {% trans 'Your organisation'%}
</h2>

<hr />

{% include 'organisations/list_item.html' with organisation=user_organisation %}

<hr />

<h2 style="margin-top: 3em;">{% trans 'All organisations' %}</h2>

<hr />


<table class="table table-striped">
<tbody>
{% for org in organisation_list %}
<tr>
    <td>
        {% include 'organisations/list_item.html' with organisation=org %}
    </td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}