{% load imagekit i18n %}

{% url 'organisations:organisation_detail' org_id=organisation.pk as org_detail_url %}

<div class="media">
  <div class="media-left">
    {% if organisation.logo %}
        {% thumbnail '150x150' organisation.logo crop=0 %}
    {% else %}
        <i class="fa fa-users fa-5x disabled" style="width: 150px"></i>
    {% endif %}
  </div>

  <div class="media-body" style="padding-left:2em">
    <h4 class="media-heading">{{ organisation.name }}</h4>
    <p>
        <a class='btn btn-default btn-sm' href="{{ org_detail_url }}">
            {% trans 'Details' %}
        </a>
    </p>

  </div>
</div>
