{% extends '../base.html' %}
{% block body-classes %}form-beige{% endblock %}
{% load i18n bootstrap3 widget_tweaks %}

{% block issue_heading_title %}
  {% trans 'Add need' %}
{% endblock %}

{% block content %}

<form method="post" action="" novalidate>
  {% csrf_token %}

  {% for f in form.hidden_fields %}{{ f }}{% endfor %}

    {% bootstrap_form_errors form %}

  <h4 class="form-heading">What is needed? </h4>
  {% bootstrap_field form.title placeholder="Winter clothes for 20 adults"%}

  {% bootstrap_field form.issue_types %}

  {% bootstrap_field form.description placeholder="" field_class="input-short"%}

  <h4 class="form-heading">Where do you need it?</h4>
  {# the point field needs some special rendering #}
  {% if form.errors.point %}
  <div class="form-group has-error">
    {%  for error in form.errors.point %}
    <div class="help-block">
      {{ error }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% bootstrap_field form.location %}

  <div class="form-group">
    <div id="issueMap"></div>
  </div>
  {{ form.point }}
  {# end point field #}

{%  with field=form.pick_up_flag %}
      <div class="form-group">
          <div class="checkbox">
              <label for="{{ field.id_for_label }}">
                {{ field }}
                  <span class="icon icon-lg icon-pickup"></span> {{ field.label }}
              </label>
          </div>
      </div>
{% endwith %}


  {% buttons %}
  <div class="sticky-bottom">
  <button type="submit" class="btn btn-info btn-xs-block">
    {% trans 'Add need' %}
  </button>
  </div>
  {% endbuttons %}
</form>
{% endblock %}

{% block before-body-close %}
{{ block.super }}
<script type="application/javascript">
(function(){
var position = false;
{% if initial_point %}
  {% with p=initial_point.get_coords %}
  position = {
      lng: {{ p.0 }},
      lat: {{ p.1 }}
  };
  {% endwith %}
{% endif %}

var issueMap = document.getElementById('issueMap'),
    location_field = document.getElementById('id_point'),
    location_radio_inputs= $('input[type=radio][name=location]'),
    empty_location_input = location_radio_inputs.filter(function() {return !this.value;})[0];

$(location_field).hide();

function cb(e) {
    location_field.value = 'POINT(' + e.lng + ' ' + e.lat + ')'
};

var props = {
    editable: true,
    position: position,
    onPositionChange: cb
};

function toggleMap() {
    render_map(issueMap, props);
};

location_radio_inputs.on(
    'change',
    function(e) {
        console.log('Changed', e.target, empty_location_input, e.target === empty_location_input);
        if (e.target === empty_location_input && e.target.checked) {
            toggleMap();
        } else {
            {# console.warn('Unchecked ... not implemented');#}
            location_field.value = '';
            unmount_map(issueMap);
        }
    }
);

if (empty_location_input.checked) {
    toggleMap();
}


// make the issue category selector nicer
function renderItem(item, escape_fn) {
    const icon_class = getIconClassForIssueType(escape_fn(item.value)),
          text = escape_fn(item.text);

    return `<div>
        <span class="icon ${icon_class}"></span> ${text}
    </div>`
}

// selectize the issue type selector
$('select#id_issue_types').selectize({
    maxItems: 1,
    render: {
        option: renderItem,
        item: renderItem
    }
});

})();
</script>
{% endblock %}
