{% extends 'default/base.html' %}
{% block body-classes %}body-beige{% endblock %}
{% load static from staticfiles %}
{% load i18n %}
{# hide navbar #}
{% block navbar %}{% endblock navbar %}

{% block main %}
    <div class="container">
      <img alt="Toucan Logo" width="296" style="margin-top: 40px;margin-bottom: 40px;" class="center-block toucan-logo img-responsive" src="{% static 'toucan/logos/Toucan_Logo_Main@2x.png' %}">

        <div class="col-md-6 col-md-offset-3">

          <div class="text-center"  style="margin-top: 40px;margin-bottom: 40px;">
            <h2>
              {% block auth-header %}{% endblock %}
            </h2>
            <h4>
              {% block auth-subheader %}{% endblock %}
            </h4>
          </div>

            <div class="row">
                {% block auth-content %}{% endblock auth-content %}
            </div>

        {% block public-links %}
        <hr style="margin-top: 3em;" />
        <p class="text-center">
            <a class="text-info" href="{% url 'landing_page' %}">
                {% trans 'About Toucan' %}
            </a>
        </p>
        {% endblock %}
    </div>
{% endblock main %}
