<!DOCTYPE html>
{% load i18n bootstrap3 %}
{% load render_bundle from webpack_loader %}
{% load static from staticfiles %}
{#{% load raven %}#}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=‘viewport’ content=‘width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0’  />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css">
    <link rel="manifest" href="{% static 'toucan/manifest.json' %}">
    
    {% include './favicons.html' %}
    <title>{% block head_title %}{% trans 'Toucan' %}{% endblock %}</title>
    {% include './raven.html' %}
    {% render_bundle 'manifest' %}
    {% render_bundle 'vendor' %}
    {% render_bundle 'bootstrap' %}
    {% block extra-head %}{% endblock %}
</head>

<body class="{% block body-classes %}{% endblock %}">
    {% block body %}
        {% block navbar %}
            {% include './navbar.html' %}
        {% endblock navbar %}
        {% if messages %}
        <div class="container-fluid" id="message-container">
            {% bootstrap_messages %}
        </div>
        {% endif %}
        {% block main %}{% endblock %}
    {% endblock body %}
    {% block before-body-close %}{% endblock %}
</body>
</html>
