{% load i18n %}
{% load static from staticfiles %}
{% with namespaces=request.resolver_match.namespaces %}
<nav class="navbar navbar-default navbar-static-top">

    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">
                <img alt="Toucan Logo" class="navbar-logo img-responsive" src="{% static 'toucan/logos/toucan_logo@2x.png' %}">
            </a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">

            {# this navbar can be controlled by react #}
            {# react will just replace the content of this dom node #}
            <div id="react-navbar">
                <ul class="nav navbar-nav">
                    {% url 'home' as home %}
                    <li>
                        <a href="{{ home }}">
                            <i class="fa fa-globe"></i>
                            {% trans 'Needs' %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ home }}orgs/">
                            <i class="fa fa-address-card-o"></i>
                            {% trans 'Organisations' %}
                        </a>
                    </li>
                </ul>
            </div>
            {# purely django controlled nav #}
            <ul class="nav navbar-nav">

                <li {% if 'help' in namespaces %}class="active"{% endif %}>
                    <a href="{% url 'help:start' %}">
                        <i class="fa fa-question-circle"></i>
                        {% trans 'Help' %}
                    </a>
                </li>
            </ul>

            {# navbar right #}
            <ul class="nav navbar-nav navbar-right">
                <li {% if 'issue_app' in namespaces %}class="active"{% endif %}>
                    <a href="{% url 'issues:issue_create' %}">
                        <i class="fa fa-plus"></i>
                        {% trans 'Add Issue' %}
                    </a>
                </li>
                {% if user.is_authenticated %}
                    <li class="dropdown {% if 'user_profile' in namespaces %}active{% endif %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user"></i>&nbsp;
                                {{ user.username }}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url 'user_profile:personal_profile' %}">
                                        {% trans 'Settings and Profile' %}
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'account_logout' %}">
                                        {% trans 'Logout' %}
                                    </a>
                                </li>
                                {% if user.is_staff %}
                                <li>
                                    <a href="{% url 'admin:index' %}">
                                        {% trans 'Administration Interface' %}
                                    </a>
                                </li>
                                {% endif %}
{#                                <li>#}
{#                                    <a href="{% url 'landing_page' %}">#}
{#                                        {% trans 'About Toucan' %}#}
{#                                    </a>#}
{#                                </li>#}
                                {% if debug %}
                                <li class="divider"></li>
                                    <li>
                                        <a href="{% url 'generate_notifications' %}">
                                            Generate Notifications
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                    </li>
                {% else %}
                    <li>
                      <a href="{% url 'account_login' %}">
                        <i class="fa fa-user"></i>&nbsp;
                        {% trans 'Login' %}
                      </a>
                    </li>
                {% endif %}
            </ul>

        </div><!--/.nav-collapse -->


    </div>
</nav>
{% endwith %}
